{
  "cards": [
    {
      "Name": "create api caller for {name}",
      "Type": "caller",
      "Service": "{service}",
      "Description": {
        "DOD": [
          "h2. API Caller",
          "",
          "# Implement API caller in the web application",
          "# Add error handling",
          "# Add unit tests"
        ]
      }
    }
  ]
} 